Scala_Archetypes/scala-maven-dq-kpi/src/main/Detalles/*
Scala_Archetypes/scala-maven-dq-kpi/src/main/DETALLE_CTES_PARTICULARES.txt
Scala_Archetypes/scala-maven-dq-kpi/src/main/Evidencias.zip
Scala_Archetypes/scala-maven-dq-kpi/src/main/pedt001_dev/*
Scala_Archetypes/scala-maven-dq-kpi/src/main/pedt023_dev/*
Scala_Archetypes/scala-maven-dq-kpi/src/main/t_clientes_activos_dev/*
Scala_Archetypes/scala-maven-dq-kpi/src/main/t_telefonos_dev/*
